$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 60%;
  height: 350px;
  label {
    display: flex;
    margin: 1rem 0;
  }
  .method{
    display: block;
    width: 200px;
    height: 20px;
    background-color: aqua;
    margin: 20px;
    text-align: center;
    padding: 10px;
  }
  .active_method{
    background-color: blueviolet;
    color: black;
    
  }
}
